# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Environment variables (secrets)
.env

# Dependencies
node_modules

# Build output
dist/
packages/*/dist/
